.primaryColorText {
    color: #ff1616;
}

.white {
    color: white;
}

.firstViewed {
    position: relative;
}

.grassetto {
    font-weight: bold;
}


.firstViewed img {
    width: 1920px;
}

.titleContainer {
    position: absolute;
    right: 85px;
    top: 148px;
    width: 797px;
    height: 408px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 47px;
}

.firstViewed {
    width: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: end;
}

.titleContainer p {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 35px;
    font-size: 72px;
    text-transform: uppercase;
    font-weight: 500;
}

.stylingCall {
    background-image: url("../Assets/images/sfondoSC.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.adattaATe {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.stylingCall p {
    font-size: 30px;
}

.stylingCallTitle {
    font-size: 72px !important;
    margin-bottom: 5%;
}

.adattaATeTitle {
    font-size: 72px;
}

.stylingCallContainer {
    padding: 130px;
}

.adattaATe .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.adattaATe .col2Container {
    width: 55%;
}

.adattaATe .col2Container .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.adattaATe .row .col1 {
    display: flex;
}

.adattaATe .row .col1 img {
    height: 70px;
}

.adattaATe .row .col2 {
    width: 100%;
    text-align: center;
    font-size: 30px;
}

.adattaATe .container > .col1 {
    display: flex;
}

.adattaATe .container > .col1 img {
    height: 75vh;
}

.btnPrenota {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnPrenota p {
    background-color: #ff1616;
    padding: 10px;
    border-radius: 20px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.block1 img {
    width: 100%;
}

.servizio{
    background-image: url("../Assets/images/servizio.webp");
}

.default-block-size {
    height: calc(100vh);
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.servizio .text-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 30px;
    width: 900px;
}

.servizio .title{
    font-size: 42px;
}

.call{
    background-image: url("../Assets/images/sfondoCall.webp");
}

.call .text-container{
    color: white;
    text-align: center;
    font-size: 52px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 110px;
    padding-left: 200px;
    padding-right: 200px;
}

.prenota{
    background-image: url("../Assets/images/prenota.webp");
    justify-content: flex-start;
}

.prenota .App{
    margin-left: 10%;
}
